name: test

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.1.5", "5.2.4", "5.3.5", "luajit", "luajit-2.0.5", "luajit-2.1.0-beta3", "luajit-openresty", "5.1", "5.4"]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: hishamhm/gh-actions-lua@master
      with:
        luaVersion: ${{ matrix.luaVersion }}

    - uses: hishamhm/gh-actions-luarocks@master

    - name: test lua
      run: lua -e 'print("hi from lua")'

    - name: test luarocks
      run: |
        echo $PATH
        env | grep LUA
        luarocks
        luarocks config
        luarocks install moonscript
        lua -e 'require("moon").p({1,2,3})'

  test-luarocks-2:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: hishamhm/gh-actions-lua@master
      with:
        luaVersion: "5.2"

    - uses: hishamhm/gh-actions-luarocks@master
      with:
        luaRocksVersion: "2.4.4"

    - name: test luarocks
      run: |
        luarocks --version
        luarocks path
        luarocks install moonscript
        lua -e 'require("moon").p({1,2,3})'

  test-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@master
    - uses: hishamhm/gh-actions-lua@master
    - uses: hishamhm/gh-actions-luarocks@master

    - name: test luarocks
      run: |
        echo $PATH
        env | grep LUA
        luarocks
        luarocks config
        luarocks install moonscript
        lua -e 'require("moon").p({1,2,3})'

  test-windows:
    strategy:
      matrix:
        luaVersion: ["5.1", "5.4", "luajit" ]

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master
    - uses: ilammy/msvc-dev-cmd@v1
      if: ${{ ! contains(matrix.luaVersion, 'luajit') }}
    - uses: hishamhm/gh-actions-lua@master
      with:
        luaVersion: ${{ matrix.luaVersion }}
    - uses: hishamhm/gh-actions-luarocks@master

    - name: test luarocks
      shell: cmd
      run: |
        echo %PATH%
        set | find "LUA"
        luarocks
        luarocks config
        luarocks install moonscript
        lua -e "require('moon').p({1,2,3})"

  test-openresty:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: leafo/gh-actions-openresty@main
    - uses: hishamhm/gh-actions-luarocks@master
      with:
        withLuaPath: "/usr/local/openresty/luajit/"

    - name: test luarocks
      run: |
        echo $PATH
        env | grep LUA
        luarocks
        luarocks config
        luarocks install pgmoon
